<div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativeValidate>
    <div *ngFor="let field of formFields" >
        <div *ngIf="field.type.name=='enum' && field.id=='recezenti'" >
          <ng-multiselect-dropdown name={{field.id}} [placeholder]="'Izaberi recezenta'" [data]="dropDownList" ngModel [settings]="dropdownSettings"
                  (onDeSelect)="onItemDeSelect($event,field.type.name)" (onSelect)="onItemSelect($event,field.type.name)" value=selectedItems (onSelectAll)="onSelectAll($event,field.type.name)"
          ></ng-multiselect-dropdown>
      </div>
      <div *ngIf="field.type.name=='enum' && field.id=='urednik'" >
        <ng-multiselect-dropdown name={{field.id}} [placeholder]="'Izaberi'" [data]="dropDownPlacanje" ngModel [settings]="dropdownSettings"
                (onDeSelect)="onItemDeSelect($event,field.type.name)" (onSelect)="onItemSelect($event,field.type.name)" value=selectedItemsPayment (onSelectAll)="onSelectAll($event,field.type.name)"
        ></ng-multiselect-dropdown>
    </div>
  </div>
    
    <input type="submit" value="Potvrdi">
  </form>
</div>
